$color-primary: #778da9;
$color-grey-light: #F8F8F8;
$color-grey: #D7D7D7;
$color-error: red;

// Nice colors: 778da9, E45B4D, c38d94

$border-radius: 0.5em;


$height-tabbar: 54px;
$height-navbar: 54px;